body{
    margin:0;
    background:#f8f9fa;
    font-family:'Poppins',sans-serif;
}

.sidebar{
    width:250px;
    min-height:100vh;
    background:#212529;
}

.sidebar a{
    display:block;
    color:white;
    text-decoration:none;
    padding:18px 25px;
    font-size:17px;
    transition:.3s;
}

.sidebar a:hover{
    background:#f4b400;
    color:#000;
}

.sidebar i{
    margin-right:10px;
}

.content{
    flex:1;
    background:#f8f9fa;
}
